.call {
  text-align: center;
}

.player-container {
  padding: 20px;
  text-align: initial;
}

.button-group {
  padding: 20px;
}

.controll-buttons {
  display: flex;
  justify-content: center;
  width: 320px;
}
.controll-buttons > * {
  margin: 3px 10px;
  cursor: pointer;
}

.aditional-form-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.call-form {
  padding: 20px;
  border: 2px solid black;
  margin: 10px 20px;
}

.call-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.call-inputs > label {
  margin: 10px;
  width: 360px;
  text-align: right;
}

input,
button {
  margin-right: 10px;
}

.active-speaker {
  border: 2px solid hsl(0, 100%, 57%);
}
